<div class="navbar-layout" id="navbar-layout">
  <div class="container">
    <div class="hero-rect">
      <div class="container">
        <a class="nav-item" routerLink="/login">登入</a>
        <a class="nav-item" routerLink="/editor">新文章</a>
      </div>
      <div class="link-icon-wrap">
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
      </div>
    </div>
    <div alt="hero-image" class="hero-image">
      <p id="blog-name">
        MilkyOolong · Space
        <i class="fas fa-space-shuttle" id="space-shuttle"></i>
      </p>
    </div>
  </div>
  
</div>
