<div class="container article-layout">
  <div *ngFor="let item of items | async" class="article">
    <!-- <img src="https://fakeimg.pl/800x100/"> -->
    <div class="context-wrap">
      <div class="article-short-context">{{item.shortContext}}</div>
      <div class="article-context" [innerHtml]="item.context"></div>
    </div>
    
    <div class="title-wrap">
      <h1 class="article-title">{{ item.title }}</h1>
      <p>{{ item.category }}</p>
      <p>#{{ item.label }}</p>
      <p>
        <small class="article-time">  
          {{ item.createTime | date: 'yyyy-MM-dd HH:mm' }}
        </small>
      </p>
    </div>
  </div>
</div>
