.article
    border: 1px solid #91B493;
    padding: 10px;
    margin: 10px 0px;
    color: #91B493;
    border-radius: 5px;
    hr 
        margin: 0;
    .article-title
        font-size: 2.5rem
    .article-time
        font-size: 1.5rem;
        float: right;
        border: 1px solid;
        padding: 2px 5px;
        border-radius: 15px;
