<div class="container">
  <div *ngFor="let item of items | async" class="article">
    <img src="https://fakeimg.pl/800x100/">
    <h1 class="article-title">{{ item.title }}</h1>
    <p>{{ item.category }}</p>
    <p>{{ item.label }}</p>
    <p>
      <small class="article-time">  
        {{ item.createTime | date: 'yyyy-MM-dd HH:mm' }}
      </small>
    </p>
    <hr>
    <div class="article-short-context"></div>
    <div class="article-context" [innerHtml]="item.content"></div>
  </div>
</div>
