// @import 'milligram/src/milligram.sass'
.main-layout
    background-color: #CC543A
    background-image: url('../assets/45-degree-fabric-light.png')
    min-height: 100vh
.container
    background-color: white